@import "theme-editor.css";
@import url('./views/home-view.css');

html {
    --lumo-font-family: "Poppins", "sans-serif";
    --lumo-primary-color: #74d78c;
    --lumo-primary-color-10pct: rgba(116, 215, 140, 0.1);
    --lumo-primary-color-50pct: rgba(116, 215, 140, 0.5);
    --lumo-primary-text-color: #000;
    --lumo-primary-contrast-color: #fff;
    --lumo-header-text-color: #74d78c;
    --lumo-body-text-color: #000;
    --lumo-secondary-text-color: #000;
    --lumo-tertiary-text-color: #000;
    --lumo-disabled-text-color: rgba(0, 0, 0, 0.5);
}